// .links

.link{
  color:inherit;
  cursor: pointer;
  @include linkHover;

  // .link-bot
  &-bot{
    cursor: pointer;
    position: relative;
    text-decoration-line: underline;
    transition: all 0.5s ease;
    &:hover{
      text-decoration-line: unset;
    }
  }
  // .link-contact
  &-contact{
    display: flex;
    &:hover{
      .link-contact__svg{
        fill: $primary-hover-color;
      }
      .icon-whatsapp{
        fill: $primary-hover-color;
      }
    }
    &:active{
      .link-contact__svg{
        fill: $primary-active-color;
      }
      .icon-whatsapp{
        fill: $primary-active-color;
      }
    }
    // .link-contact__svg
    &__svg{
      margin-right: 24px;
      width: 24px;
      height: 24px;
      margin-top: 12px;
      @media(max-width: $smDesktopWidth){
        margin-right: 12px;
        margin-top: 8px;
      }
      @media(max-width: $tableWidth) {
        margin-top: 3px;
      }
    }

    // .link-contact__txt
    &__txt{

      // .link-contact__txt-svg
      &-svg{
        margin-left: 12px;
      }
      // .link-contact__txt-main
      &-main{
        display: flex;
        align-items: center;
        margin-bottom: 4px;
      }
    }

    &.link-contact--email{
      .link-contact__txt-main{
        color: $danger-color;
        transition: all 0.3s ease;
        position: relative;
        &::after{
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $danger-color;
          transition: all 0.5s ease;
        }
      }
    }
  }
  // .link-tel
  &-tel{
    display: inline-flex;
    align-items: flex-start;

    transition: all 0.3s ease;
    &:hover{
      svg{
        fill:$primary-hover-color;
      }
    }
    &:hover{
      svg{
        fill:$primary-active-color;
      }
    }

    // .link-tel__icon
    &__icon{
      margin-right: 18px;
    }

    // .link-tel__txt-item
    &__txt-item{
      display: block;
    }
  }

}