/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'Ibmplexsans', Helvetica,sans-serif;


// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.5;

$xlDesktopWidth          : 1900px;
$lgDesktopWidth          : 1600px;
$nrDesktopWidth          : 1440px;
$desktopWidth            : 1280px;
$mdDesktopWidth          : 1200px;
$smDesktopWidth          : 1080px;
$nrTableWidth            : 991px;
$tableWidth              : 767px;
$smTableWidth            : 675px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main bg color
$main-color-bg           : #131314;

// Main color
$default-color           : #ffffff;
$defaultBlack-color      : #000000;
$secondary-color         : rgba(255, 255, 255, 0.64);
$danger-color            : #CE2742;
$danger-hover-color      : #E4324F;
$danger-active-color     : #CE1F3B;
$primary-color           : #6ABF5F;
$primary-hover-color     : #77D86A;
$primary-active-color    : #4DA741;

// Neutral Color
$neutral-primary         : #1C1C1E;
$neutral-regular         : #444448;;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #404042;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
