// .content
.content{

  // .content__title
  &__title{
    margin-bottom: 32px;
    @media(max-width: $smDesktopWidth) {
      margin-bottom: 24px;
    }
  }
  // .content__txt
  &__txt{
    margin-bottom: 24px;
    margin-top: 24px;
    &:last-child{
      margin-bottom: 0;
    }
    @media(max-width: $smDesktopWidth) {
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }

}