// .informer

.informer{
  border-radius: 4px;
  background-color: $neutral-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;

  @media(max-width: $tableWidth) {
    display: block;
    text-align: center;
    padding: 20px 16px;
    width: calc(100% + 32px);
    margin-left: -16px;
    border-radius: 0;
  }
  // .informer__txt
  &__txt{
    margin-right: 32px;
    @media(max-width: $tableWidth) {
     margin-right: 0;
     margin-bottom: 24px;
    }
  }

  // .informer__btn
  &__btn{
    @media(max-width: $smTableWidth) {
      width: 100%;
    }
  }
}